<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Welcome to Cat Facts Generator!</h1>
<h2> /getSingle: This endpoint calls a service, that fetches a single fact from cat-fact API, maps the result to a CatFact objectand prints the fact to the browser.</h2>
<h2> /getTen: This end-point calls a service, that fetches ten facts from cat-fact API, maps the result to a CatFact objects, adds to a Arraylist that can only contain CatFacts and prints the result to the browser. </h2>
<h2> /getTenSortByDate: This endpoint calls a service that fetches ten facts from cat-fact API, maps the result to a CatFact objects, adds to a CatFact Arraylist and prints the result to the browser -sorted in ascending order by Date of creation.</h2>
</body>
</html>